@charset "utf-8";

@font-face {
	font-family: font_ttf; /* Гарнитура шрифта */
	src: url(../fonts/okolaksBold.ttf); /* Для IE5-8 */
	src: local(font_ttf), url(../fonts/okolaksBold.ttf);
	/* Для остальных браузеров */
}

a {
	font-family: font_ttf, Geneva, sans-serif;
				color: #FF9933;
				text-decoration: none;
				font-weight: bold;
}

p {
	font-family: font_ttf, Geneva, sans-serif;
	color: #000000;
}

h1 {
	font-family: font_ttf, Geneva, sans-serif;
	text-align: center;
	color: #000000;
}

h2 {
	font-family: font_ttf, Geneva, sans-serif;
	text-align: center;
}

body {
	background-image: url(../images/bgtile.png);
	background-color: #ffffff;
}em {
	font-size: small;
	color: #666;
}
